*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}
html {
  font-size: 62.5%; //10px = 1rem
  box-sizing: border-box;

  @include responsive(mobile) {
    font-size: 43.75%;
  }
  @include responsive(tablet) {
    font-size: 50%;
  }
  @include responsive(pc) {
    font-size: 56.25%;
  }
}

body {
  font-family: $font-primary;
  color: $blue;
  background-color: $white;
}
