@mixin title($size, $margin) {
  text-align: center;
  margin-bottom: $margin;
  font-family: $font-title;
  font-size: $size;
  font-weight: 900;
}

@mixin btns($bg-clr) {
  color: $white;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  background: $bg-clr;

  &:hover {
    filter: brightness(150%);
  }
}
