//Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); //Open Sans
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"); //Raleway

$font-title: "Raleway", sans-serif;
$font-primary: "Open Sans", sans-serif;

//Colors
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$tint: rgba($light, 0.3);
$tint2: rgba($light, 0.3);
$color-text: #333;
$color-white: #fff;
$color-white-transparent: rgba($color-white, 0.8);

//buttons and border
$button-border-radius: 0.5rem;
